* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>header {
    background-color: rgb(53, 53, 53);
    padding: 16px 0;
    color: #fff2ff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: white;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}
.articles article a:hover{
    text-decoration: underline;
}
.article article p,
.article article a {
    font-family: sans-serif;
}

section h2 {
    font-size: 32px;
}
#sports{
    background-color: rgba(0,255,0,0.1);

}
#sports .articles article a{
    background-color: rgba(12, 56, 12, 0.699);
}


#economy{
    background-color: rgba(200,110,0,0.9);
}
#economy .articles article a{
    background-color: rgba(95, 64, 26, 0.9);
}

#technology{
    background-color: rgba(255,255,00,0.1);

}
#technology .articles article a{
    background-color: rgba(136, 136, 72, 0.7);
}


#entertainment{
    background-color: rgba(151, 240, 210, 0.603);
}
#entertainment .articles article a{
    background-color: rgb(30, 112, 112);

}